services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vibes_local_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d vibes_local_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn app.main:app 
      --host 0.0.0.0 
      --port 8000
      --reload
      "
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/vibes_local_db  
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - env/.env.local
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery_worker:
    build:
       context: .
       dockerfile: Dockerfile
    command: celery -A app.celery_app worker --loglevel=info
    volumes: 
       - .:/app
    env_file:
      - env/.env.local
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A app.celery_app beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - env/.env.local
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      celery_worker:
        condition: service_started
      
volumes:
  postgres_data: